<section class="section">
    <div class="container">
        <h1 class="title">Privacy Policy</h1>
        <p class="content">
            In the course of your interaction with this website, you or your web browser may send data to us. Some of
            this data is manually entered by you, and some is automatically sent by your browser. This policy outlines
            examples of data we receive and how we may use it.
        </p>
    </div>
</section>
<section class="section">
    <div class="container">

        <div class="box">
            <div class="columns">
                <div class="column">
                    <h2 class="title">Personal Information</h2>
                </div>
                <div class="column">
                    <h3 class="subtitle">What is it?</h3>
                    <p class="content">
                        <strong>Demographics or identifying information about you.</strong>
                        <span>Your name and email address are examples.</span>
                    </p>
                </div>
                <div class="column">
                    <h3 class="subtitle">How is it used?</h3>
                    <p class="content">
                        <strong>To enable and enhance your interactions with the website.</strong>
                        <span>This data may be displayed in your profile or used to personalize your experience.</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns">
                <div class="column">
                    <h2 class="title">Cookies</h2>
                </div>
                <div class="column">
                    <h3 class="subtitle">What is it?</h3>
                    <p class="content">
                        <strong>Our data that we request your browser store locally.</strong>
                        <span>These cookies represent logins or user sessions.</span>
                    </p>
                </div>
                <div class="column">
                    <h3 class="subtitle">How is it used?</h3>
                    <p class="content">
                        <strong>To make using the website more convenient and to help us improve the service.</strong>
                        <span>
                        We use cookies to keep you logged in to the site and provide continuity for aggregate analysis
                        of user sessions.
                    </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns">
                <div class="column">
                    <h2 class="title">Analytics and Auditing</h2>
                </div>
                <div class="column">
                    <h3 class="subtitle">
                        What is it?
                    </h3>
                    <p class="content">
                        <strong>Information about the browsers used to access this site.</strong>
                        <span>This includes IP addresses, lists of browser capabilities, and user-agent strings.</span>
                    </p>
                </div>
                <div class="column">
                    <h3 class="subtitle">
                        How is it used?
                    </h3>
                    <p class="content">
                        <strong>To determine traffic volume and ensure security.</strong>
                        <span>
                        This data is not granular and does not uniquely identify you. We may use this data to deny
                        service where appropriate to prevent abuse.
                    </span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="container">
        <p class="content">
            <strong>We do not sell user data.</strong>
            <span>
                If you wish to discontinue your use of the service, use the deactivation mechanisms available within the
                user profile. Your data will no longer be available to other users of the system and will be stored for
                forensic purposes only.
            </span>
        </p>
        <p class="content">
            Use of the service constitutes acceptance and understanding of the data collection policy outlined in the
            privacy policy. The policy may change and users will be notified of any changes to the policy.
        </p>
    </div>
</section>
