<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title"><i class="fas fa-list"></i> First feature</h2>
                <p class="content">Your app does something cool. Let people know about it here.</p>
            </div>

            <div class="column">
                <h2 class="title"><i class="far fa-lemon"></i> Second feature</h2>
                <p class="content">Not only does it do something cool, it also does more than one cool thing.</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="title"><i class="fas fa-th-large"></i> Third feature</h2>
                <p class="content">Thought it was over? Not so fast &mdash; we've got a third feature coming up.</p>
            </div>

            <div class="column">
                <h2 class="title"><i class="fas fa-users"></i> Fourth feature</h2>
                <p class="content">Your friends can use the app too.</p>
            </div>
        </div>
    </div>
</section>