<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title"><i class="fas fa-list"></i> Create and save shopping lists</h2>
                <!-- TODO: Need better wording here: -->
                <p class="content">Re-use weekly shopping lists and add items from your kitchen that are running low</p>
            </div>

            <div class="column">
                <h2 class="title"><i class="far fa-lemon"></i> Track what's in the fridge</h2>
                <p class="content">When you complete a shopping list, your fridge is automatically updated</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="title"><i class="fas fa-th-large"></i> Organize your kitchen</h2>
                <p class="content">Categorize shopping lists and kitchen inventory by type or location</p>
            </div>

            <div class="column">
                <h2 class="title"><i class="fas fa-users"></i> Share with friends</h2>
                <p class="content">See your friends' shopping lists and what's in their kitchen</p>
            </div>
        </div>
    </div>
</section>