<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="subtitle">About</h3>
                <ul class="content">
                    <li><a href="{{ url_for("terms") }}">Terms of Service</a></li>
                    <li><a href="{{ url_for("privacy") }}">Privacy Policy</a></li>
                    <li><a href="{{ url_for("license") }}">License</a></li>
                </ul>
            </div>
            <div class="column">
                <h3 class="subtitle">Contact</h3>
                <p>
                    <a class="icon" href="https://github.com/akersten/cute-kitchen">
                        <i class="fab fa-github"></i>
                    </a>
                </p>
            </div>
            <div class="column">
                <h3 class="subtitle">Share</h3>
                <p class="content">Tell your friends! <a href="#">#cutekitchen</a></p>
            </div>
            <div class="column">
                <h3 class="subtitle">CuteWorks</h3>
                <p class="content">CuteKitchen &copy; 2018</p>
                <p class="content">A <a href="http://cute.works">cute.works</a> project</p>
            </div>
        </div>
    </div>
</footer>