<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">CuteKitchen</h1>
                    <h2 class="subtitle">Social grocery shopping</h2>
                </div>
                <div class="column has-text-right">
                    <p>
                        <a href="{{ url_for("register") }}" class="button is-large is-primary is-block-touch">Sign Up</a>
                        <a href="#" class="button is-large is-info is-block-touch">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>