<section class="section">
    <div class="container">
        <h1 class="title">Terms of Service</h1>
        <p class="content">
            To use the website, you must understand and agree to the terms of service below. In all texts, the terms
            "website", "service", and "CuteKitchen" are interchangeable.
        </p>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="box">
            <h2 class="subtitle">Terms of Service</h2>
            <p class="content">
                We make no guarantee of features, availability, or the continued operation of CuteKitchen. The service
                may terminate or change at any time.
            </p>
            <p class="content">
                Your use of the website shall not cause disruptions in service to other users or to the CuteKitchen
                infrastructure.
            </p>
            <p class="content">
                Your account may be terminated or limited at any time at our discretion.
            </p>
            <p class="content">
                Use of the service constitutes acceptance and understanding of the data collection policy outlined in
                the privacy policy. The policy may change and users will be notified of any changes to the policy.
            </p>
            <p class="content">
                The terms of service may change and users will be notified of any changes to these terms.
            </p>
            <p class="content">
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                SOFTWARE.
            </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <p class="content">Use of the service constitutes acceptance of the terms above.</p>
    </div>
</section>
